body {
    background-color: #29292c;
    color: white;
}

.logo {
    padding-left: 30px;
    margin-top: 20px;
}
.navigation {
    text-align: center;
    padding: 10px;
    margin: 5px 0 0;
}

nav {
    margin-top: -20px;
}
nav ul {
    list-style: none;
    margin: 0 10px;
    padding: 0;
}

nav li {
    display: inline-block;
    margin: 0 10px;

}

