body {
    background-color: #29292c;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    border-bottom: solid 0.1px honeydew;
    padding-bottom: 20px;
}

header::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 50%;
        border-bottom: solid 0.1px honeydew;
}

.logo {
    padding-left: 30px;
    margin-top: 20px;
}
.navigation {
    text-align: center;
    padding: 10px;
    margin: 5px 0 0;
}

nav {
    margin-top: -50px;
}
nav ul {
    list-style: none;
    margin: 0 10px;
    padding: 0;
}

nav li {
    display: inline-block;
    margin: 0 10px;
}

button  {
    margin-top: -35px;
    margin-right: 30px;
    color:white;
    background-color: #e03131;
    border-radius: 20px;
    padding: 15px 30px;
    float: right;
    border: none;
}

